In [1]:
import pandas as pd

econ = pd.read_csv("../data/raw/socio_economic_economic.csv")
demo = pd.read_csv("../data/raw/socio_economic_demographic.csv")
law  = pd.read_csv("../data/raw/socio_economic_law_order.csv")
crime = pd.read_csv("../data/raw/crime_data.csv")

print("Economic Columns:", econ.columns.tolist())
print("Demographic Columns:", demo.columns.tolist())
print("Law Columns:", law.columns.tolist())
print("Crime Columns:", crime.columns.tolist())

Economic Columns: ['State', 'Year', 'unemployment_rate', 'poverty_rate', 'per_capita_income', 'inflation_rate']
Demographic Columns: ['State', 'Year', 'population_density', 'gender_ratio', 'literacy_rate', 'youth_population_percent', 'urbanization_rate', 'human_development_index']
Law Columns: ['State', 'Year', 'police_stations_per_district', 'conviction_rate', 'police_personnel_per_100k', 'alcohol_consumption_per_capita']
Crime Columns: ['State', 'Crime_Type', 'Year', 'Cases']

In [2]:
econ.head()

,State,Year,unemployment_rate,poverty_rate,per_capita_income,inflation_rate
0,Andaman & Nicobar Islands,2001,5.88,38.54,21691.80,4.40
1,Andaman & Nicobar Islands,2002,4.80,37.61,22162.42,7.63
2,Andaman & Nicobar Islands,2003,5.75,36.41,22868.34,2.43
3,Andaman & Nicobar Islands,2004,5.98,37.11,23056.59,5.83
4,Andaman & Nicobar Islands,2005,5.70,35.07,23480.14,5.63

In [3]:
demo.head()

,State,Year,population_density,gender_ratio,literacy_rate,youth_population_percent,urbanization_rate,human_development_index
0,Andaman & Nicobar Islands,2001,10,915,61.94,24.00,22.0,0.535
1,Andaman & Nicobar Islands,2002,10,904,62.09,26.98,21.4,0.528
2,Andaman & Nicobar Islands,2003,17,912,62.32,27.96,24.8,0.543
3,Andaman & Nicobar Islands,2004,14,910,62.38,27.94,23.2,0.548
4,Andaman & Nicobar Islands,2005,17,913,62.52,23.92,24.6,0.553

In [4]:
law.head()

,State,Year,police_stations_per_district,conviction_rate,police_personnel_per_100k,alcohol_consumption_per_capita
0,Andaman & Nicobar Islands,2001,6,37.0,59,2.30
1,Andaman & Nicobar Islands,2002,7,41.1,55,2.05
2,Andaman & Nicobar Islands,2003,5,42.2,64,2.18
3,Andaman & Nicobar Islands,2004,7,41.3,57,2.06
4,Andaman & Nicobar Islands,2005,5,36.4,61,2.59

In [5]:
crime.head()

                       State              Crime_Type  Year  Cases
0  Andaman & Nicobar Islands                Burglary  2001     57
1  Andaman & Nicobar Islands                 Dacoity  2001      7
2  Andaman & Nicobar Islands            Dowry Deaths  2001      0
3  Andaman & Nicobar Islands  Kidnapping & Abduction  2001     33
4  Andaman & Nicobar Islands                  Murder  2001     10

In [6]:
print(econ.duplicated(subset=['State','Year']).sum())
print(demo.duplicated(subset=['State','Year']).sum())
print(law.duplicated(subset=['State','Year']).sum())

0
0
0

In [7]:
socio = econ.merge(demo, on=["State", "Year"], how="inner")
socio = socio.merge(law, on=["State", "Year"], how="inner")
final = crime.merge(socio, on=["State", "Year"], how="inner")

final.to_csv("../data/cleaned/final_merged_dataset.csv", index=False)
print("Final dataset ready and saved")

Final dataset ready and saved